<html lang="en">

<head>
	<%include header%>
</head>

<body layout="column">
	<div id="main-content" flex layout-align="center start">
		<div class="container" layout="column" layout-align="center center">
			<div class="main-container">
				<div>
					<%- include(page) %>
				</div>
			</div>
		</div>
	</div>
	<%include footer%>
</body>

</html>
